# $OpenBSD: sshd_config,v 1.80 2008/07/02 02:24:18 djm Exp $
#
# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.
#
# This sshd was compiled with PATH=/usr/local/bin:/bin:/usr/bin
#
# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options change a
# default value.
#
Port <%= @port %>
AddressFamily <%= @addressfamily %>
ListenAddress <%= @listenaddressip4 %>
ListenAddress <%= @listenaddressip6 %>

# Disable legacy (protocol version 1) support in the server for new
# installations. In future the default will change to require explicit
# activation of protocol 1
Protocol <%= @protocol %>

# Hostkey for protocol version 1
Hostkey <%= @protocolonehostkey %>
# Hostkeys for protocol version 2
Hostkey <%= @protocoltwohostkeyrsa %>
Hostkey <%= @protocoltwohostkeydsa %>

# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval <%= @keyregenerationinterval %>
ServerKeyBits <%= @serverkeybits %>

# Logging
# obsoletes QuietMode and FascistLogging
SyslogFacility <%= @syslogfacility %>
LogLevel <%= @loglevel %>

LoginGraceTime <%= @logingracetime %>
PermitRootLogin <%= @permitrootlogin %>
StrictModes <%= @strictmodes %>
MaxAuthTries <%= @maxauthtries %>
MaxSessions <%= @maxsessions %>
#
RSAAuthentication <%= @rsaauthentication %>
PubkeyAuthentication <%= @pubkeyauthentication %>
AuthorizedKeysFile <%= @authorizedkeysfile %>


# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
RhostsRSAAuthentication <%= @rhostsrsaauthentication %>
# similar for protocol version 2
HostbasedAuthentication <%= @hostbasedauthentication %>
# Change to yes if you don't trust ~/.ssh/known_hosts for
# RhostsRSAAuthentication and HostbasedAuthentication
IgnoreUserKnownHosts <%= @ignoreuserknownhosts %> 
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts <%= @ignorerhosts %>

# To disable tunneled clear text passwords, change to no here!
PermitEmptyPasswords <%= @permitemptypasswords %>
PasswordAuthentication <%= @passwordauthentication %>
#
# Change to no to disable s/key passwords
ChallengeResponseAuthentication <%= @challengeresponseauthentication %>
#
# Kerberos options
KerberosAuthentication <%= @kerberosauthentication %>
KerberosOrLocalPasswd <%= @kerberosorlocalpasswd %>
KerberosTicketCleanup <%= @kerberosticketcleanup %>
KerberosUseKuserok <%= @kerberosusekuserok %>
#
# GSSAPI options
GSSAPIAuthentication <%= @gssapiauthentication %>
GSSAPICleanupCredentials <%= @gssapicleanupcredentials %>
GSSAPIStrictAcceptorCheck <%= @gssapistrictacceptorcheck %>
GSSAPIKeyExchange <%= @gssapikeyexchange %>
#
# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
# 
UsePAM <%= @usepam %>
#
# Accept locale-related environment variables
AcceptEnv <%= @acceptenv1 %> 
AcceptEnv <%= @acceptenv2 %> 
AcceptEnv <%= @acceptenv3 %> 
AcceptEnv <%= @acceptenv4 %> 
#
AllowAgentForwarding <%= @allowagentforwarding %>
AllowTcpForwarding <%= @allowtcpforwarding %>
GatewayPorts <%= @gatewayports %>
X11Forwarding <%= @x11forwarding %>
X11DisplayOffset <%= @x11displayoffset %>
X11UseLocalhost <%= @x11uselocalhost %>
PrintMotd <%= @printmotd %>
PrintLastLog <%= @printlastlog %>
TCPKeepAlive <%= @tcpkeepalive %>
#
UseLogin <%= @uselogin %>
UsePrivilegeSeparation <%= @useprivilegeseparation %>
PermitUserEnvironment <%= @permituserenvironment %>
ClientAliveInterval <%= @clientaliveinterval %>
ClientAliveCountMax <%= @clientalivecountmax %>
ShowPatchLevel <%= @showpatchlevel %>
UseDNS <%= @usedns %>
PidFile <%= @pidfile %>
MaxStartups <%= @maxstartups %>
PermitTunnel <%= @permittunnel %>
ChrootDirectory <%= @chrootdirectory %>

# no default banner path
Banner <%= @banner %>

# override default of no subsystems
Subsystem   <%= @subsystem %>

# Example of overriding settings on a per-user basis
#Match User anoncvs
#       X11Forwarding no
#       AllowTcpForwarding no
#       ForceCommand cvs server
#
Match User <%= @user1 %>
    ChrootDirectory <%= @chrootdirectory1 %>
    ForceCommand <%= @forcecommand1 %>

Match User <%= @user2 %>
    ChrootDirectory <%= @chrootdirectory2 %>
    ForceCommand <%= @forcecommand2 %>
